.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.container p {
  color: #9333ea;
}

.inputWrapper {
  width: 350px;
  height: 40px;
}

@media (max-width: 500px) {
  .inputWrapper {
    width: 90%;
  }
}
