.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.container p {
  color: #9333ea;
}

.inputWrapper {
  width: 450px;
  height: 45px;
}

@media (max-width: 500px) {
  .inputWrapper {
    width: 90%;
  }
}
